*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    background-color: darkslategray;
}
body{
    color: #fff;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: #5ddf26;

}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    /* background: url(/Image/Anand.jpg.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    /* padding: 70px 10% 0; */
    /* border-radius: 50%; */
    float: right;
    
}
.home-content{
    max-width: 600px;
    /* position: relative; */

}
 .home-content .pic{
    /* position: absolute; */
    border-radius: 50%;
    height: 250px;
    width: 250px;
    padding: 70px 10% 1;
    align-items: center;
    float: right;
    display: flex;
    clear: right;
    object-position: right;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;

}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    align-items: center;
}