*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body{
    color: #ededed;
    
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #c61212;
    text-decoration: none;
    font-weight: 500;
    margin: left 35px;
    transition: .3s;
}
.navbar a:hover{
    color: #8ef;
}
.home{
    position: relative;
    width: 10%;
    justify-content: space-between;
    height: 350px;
    width: 150px;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    
    
}
.home-content #pic{
    justify-content: space-between;
    position: relative;
    background-size: cover;
    background-position:left;
    border-radius: 50%;
    height: 350px;
    width: 200px;
    display: flex;
    align-items: centers;
}
.home-content{
    max-width: 600px;
    text-align: center;
    justify-content: space-between;
    display:flex ;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;

}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}